body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
	 
}

table {
    border-collapse: collapse;
    margin: 0 auto;
	padding-bottom: 0px;
}

tr {
    height: 0px;
	 padding-bottom: 0px;
}

td {
    width: 20px;
	 padding-bottom: 0px;
}

input[type=number] {
    width: 6em;
}
.uColor {
 padding-bottom: 0px;	
 background-color: blue;
}
